* {
    font-family: "Times New Roman";
    font-weight: normal;
}

body {
    margin: 0;
}

h4 {
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #979797;
}

h5 {
    font-size: 15px;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    color: #979797;
}

h6 {
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: bold;
    color: black;
    font-size: 70px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.banner {
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    height: 200px;
    margin-left: 0;
    margin-right: 0;
}

.images {
    width: 100%;
    height: auto;
}

.images img {
    flex-shrink: 0;
    min-width: 49%;
    height: 600px;
}

p {
    font-size: 20px;
}

.list {
    margin-left: 0;
}

li{
    font-size: 20px;
}

#logo {
    width: 350px;
    position: absolute;
    top: 100px;
}

.link {
    text-decoration: none; 
    color: #3FB5E8;
    font-weight: lighter;
}

span {
    background-color: #FFFF00;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th {
    color: white;
    background-color: #4EA0FF;
    font-size: 15px;
    font-weight: bold;
    border: 0px solid #4EA0FF;
}

td {
    width: 400px;
    font-size: 20px;
}

.lb > td {
    background-color: #B1E5F2;
}

.suggestion1 {
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    height: 200px;
}

.suggestion2 {
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    height: 200px;
}

h3 {
    color: white;
    font-weight: bold;
    position: relative;
    font-size: 30px;
}